.navbar-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: 1200px;
  align-self: auto;
  align-items: center;
  flex-shrink: 1;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.navbar-branding-logo {
  width: 1.7rem;
  height: 1.7rem;
  box-sizing: content-box;
}
.navbar-text {
  color: rgb(0, 0, 0);
  width: 0px;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Inter Tight";
  font-weight: 600;
  margin-left: 3px;
}

@media(max-width: 1200px) {
  .navbar-navbar {
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .navbar-text {
    color: rgb(0, 0, 0);
  }
  .navbar-root-class-name {
    width: 95%;
    max-width: 100%;
  }
}
@media(max-width: 991px) {
  .navbar-navbar {
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .navbar-text {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-style: normal;
    font-family: Inter Tight;
    font-weight: 600;
  }
  .navbar-root-class-name {
    width: 95%;
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .navbar-branding-logo {
    width: 1.7rem;
  }
  .navbar-text {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-style: normal;
    font-family: Inter Tight;
    font-weight: 600;
  }
  .navbar-root-class-name {
    width: 90%;
    max-width: 95%;
  }
}
@media(max-width: 479px) {
  .navbar-navbar {
    max-width: 100%;
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .navbar-branding-logo {
    width: 30px;
    height: 30px;
    align-self: center;
  }
  .navbar-text {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    align-self: center;
    font-style: normal;
    font-family: Inter Tight;
    font-weight: 600;
    margin-left: 3px;
  }
  .navbar-root-class-name {
    width: 87%;
    max-width: 100%;
    align-self: center;
  }
}
